/* Global */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #d6e2f0;
    padding: 16px;
}

/* Card */

.card {
    width: clamp(280px, 90%, 320px);
    max-width: 320px;
    padding: 16px 16px 40px 16px;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card img {
    border-radius: 10px;
    width: 100%;
}

h1 {
    font-size: 22px;
    line-height: 1.2;
    margin: 16px 0;
    text-align: center;
    color: #1F314F;
}

p {
    font-size: 15px;
    line-height: 1.4;
    text-align: center;
    color: #68778D;
}

/* Footer */

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: auto;
}

.attribution a { 
    color: hsl(228, 45%, 44%)
}